.flexy-row{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-self: center;
    padding: 3px;
    margin: 3px;


}
.flexy-row-short{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-self: center;
    padding: 3px;
    margin: 3px;


}

.ready{
    background-color: greenyellow;

}

.long-box{
    width:45vw;
}

.floxy-col{
    display: flex;
    flex-direction:column;
    align-content: space-around;
    
    
}